.ag-theme-quartz {
    --ag-header-height: 36px;
    --ag-header-foreground-color: white;
    --ag-header-background-color: #337ab7;
    --ag-header-cell-hover-background-color: #279bdc;
    --ag-header-cell-moving-background-color: #279bdc;
}
